@model CadEmprestimoViewModel
@{
    ViewData["Title"] = "Cadastro de Emprestimos";
}

<h1 class="row justify-content-md-center">Cadastro de Empréstimo</h1>
<div class="row justify-content-md-center">
    <div class="jumbotron col-6">
    <form asp-action="Cadastro" method="POST" id='Cadastro'>
        <fieldset>
            <legend>Usuario</legend>
            <div class="form-group">
                <label asp-for="Emprestimo.NomeUsuario">Nome</label>
                <input asp-for="Emprestimo.NomeUsuario" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="Emprestimo.Telefone">Telefone <span class='msg-erro msg-whatsapp'></span></label>
                <input asp-for="Emprestimo.Telefone" class="form-control" id="inputTel" onkeyup="mascaraFone(event)"/>
            </div>
        </fieldset>
        <fieldset>
            <legend>Livro</legend>
            <div class="form-group">
                <label asp-for="Emprestimo.DataEmprestimo">Data de Empréstimo</label>
                <input type="date" asp-for="Emprestimo.DataEmprestimo" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="Emprestimo.DataDevolucao">Data de Devolução</label>
                <input type="date" asp-for="Emprestimo.DataDevolucao" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="Emprestimo.LivroId">Livro</label>
                <select asp-for="Emprestimo.LivroId" class="form-control" required >
                    @{
                     foreach (Livro lv in Model.Livros) {
                              <option value="@lv.Id">@lv.Titulo</option>
                          } 
                    }
                </select>
            </div>
        </fieldset>
        <div class="form-group">
           <input type="submit" value="Salvar" class="btn btn-primary btn-block"/>
         </div>
        
        <div class="form-group">
              <a href="/Emprestimo/Listagem" class="btn btn-outline-danger btn-block">Cancelar</a>
        </div> 
    </form>
</div>
</div>
