@model Usuario 

<h1 class="row justify-content-md-center">Fazer registro de Novo Usuário</h1>
<div class="row justify-content-md-center">
  <div class="jumbotron col-6">
    <form action="RegistrarUsuario" method="post">
      <div class="container">
        <fieldset>
            <div class="form-group">
                <input type="text" class="form-control" name="NomeUsuario" id="userNome" placeholder="Nome">
            </div>
  
              <div class="form-group">
                <input type="text" class="form-control" name="Login" id="userLogin" placeholder="Login">
              </div>
         
              <div class="form-group">
                <input type="text" class="form-control" name="SenhaUsuario" id="userSenha" placeholder="Senha">
              </div>
             
              <div class="form-group">
                <select class="form-control" name="Tipo" id="userTipo">
                  <option value="@Usuario.ADMIN">Administrador</option>
                  <option value="@Usuario.USER">Padrão</option>
                </select>
              </div>
              
            <div class="form-group">
              <input type="submit" value="Registrar" class="btn btn-primary btn-block">
            </div> 

            <div class="form-group">
              <a href="/Usuario/ListaDeUsuarios" class="btn btn-outline-danger btn-block">Cancelar</a>
            </div> 
        </fieldset>
      </div>
    </form> 
</div> 
</div>